.button {
    text-transform: uppercase;
    letter-spacing: 0.0125rem;
    font-size: 1rem;
    border-radius: 4px;
    padding: 0.625em 1em;
    color: $on-primary;
    background: $primary-gradient;
    display: inline-block;
    text-decoration: none;
    box-shadow: $elevation1;

    &.--on-primary {
        background: $secondary-gradient;
        color: $on-secondary;
    }
}

.link {
    color: $primary;
    font-weight: 600;
    text-decoration: none;

    &.--on-primary {
        color: $secondary;
    }

    &::after {
        content: "→";
        margin-left: 0.5em;
    }
}
