.button {
    font-size: 1.25rem;
    padding: 0.625em 1em;
    color: $on-secondary;
    background: $secondary-gradient;
    border-radius: 2px;
    font-weight: 600;
}

.link {
    color: $secondary;
    font-weight: 500;
    text-decoration: none;

    &::after {
        content: "→";
        margin-left: 0.5em;
    }
}
