.button {
    font-size: 1.25rem;
    padding: 0.625em 1em;
    color: $on-primary;
    background: $primary-gradient;
    border-radius: 2px;
    font-weight: 600;
    display: inline-block;
    text-decoration: none;

    &.--on-primary {
        background: $secondary-gradient;
        color: $on-secondary;
    }
}

.link {
    color: $primary;
    font-weight: 600;
    text-decoration: none;

    &.--on-primary {
        color: $secondary;
    }

    &::after {
        content: "→";
        margin-left: 0.5em;
    }
}
