.testimonial {
    text-align: center;

    &__inner {
        display: flex;
        flex-flow: column;

        @include tablet {
            flex-flow: row;
        }
    }

    &__image {
        padding: 0.5em;
        width: 12.5em;
        height: 12.5em;
        border: 0.5em solid #00caff;
        border-radius: 50%;
        margin: 0 auto;
        order: 2;

        img {
            border-radius: 50%;
            width: 100%;
        }

        @include tablet {
            margin: 1em 2em 0 0;
            order: unset;
        }
    }

    &__quote {
        font-style: italic;
        
        @include desktop {
            font-size: 1.125em;
            margin-bottom: 1.5em;
        }
    }

    &__content {
        flex: 1;
    }

    &__name {
        margin-bottom: 0.25em;
    }

    &__source {
        font-weight: 400;
    }

    .quotation_mark {
        fill: #DDD;
        height: 3em;
        width: 4em;
        margin-bottom: 1em;
    }

    @include tablet {
        text-align: left;
    }
}