.textfield {
    input {
        font-size: 1.25em;
        padding: 0.5em;
        line-height: 2.25em;
        font-family: inherit;
        height: 2.25em;
        border: none;
        border-radius: 2px;
        margin-right: 0.25em;
        box-sizing: border-box;
    }
}
