.textfield {
    position: relative;
    display: table;
    border-radius: 4px 4px 0 0;
    padding: 1em 0.5em 0;
    border-bottom: 2px solid #000;
    transition-property: border;
    background: none;
    transition: border, padding 0.2s;

    &__label {
        color: rgba(0, 0, 0, 0.87);
        position: absolute;
        top: 0;
        left: 0.5em;
        line-height: 3.5em;
    }

    &__label,
    &__label label {
        transition: all 0.2s;
    }

    input,
    textarea {
        font-size: 1em;
        font-family: inherit;
        height: 3em;
        font-weight: 500;
        border: none;
        outline: none;
        margin-right: 0.25em;
        box-sizing: border-box;
        background: none;
        margin: 0;
        transition: all 0.2s;
    }

    &:focus-within {
        border-bottom: 3px solid $primary;
        padding-top: 0;
        background: rgba(3, 72, 114, 0.16);
    }

    &:hover {
        background: rgba(3, 72, 114, 0.12);
    }

    &:focus-within,
    &.--non-empty {
        .textfield__label {
            color: $primary;
            top: -1em;

            label {
                font-size: 0.75em;
            }
        }
    }
}
