.hero_section {
    background: $primary-gradient;
    color: $on-primary;
    overflow: hidden;
    //padding: 0 !important;

    .hero_title {
        position: absolute;
        top: 0;
        left: 0;
        width: 1px;
        height: 1px;
        overflow: hidden;
        clip: rect(0 0 0 0);
        margin: -1px;
        padding: 0;
        border: 0;
        white-space: nowrap;
    }

    .hero__container {
        font-size: 3em;
        position: relative;
        display: flex;
        flex-flow: column nowrap;

        .hero_image {
            position: relative;
            bottom: -3.5rem;
            padding: 0 2rem;

            img {
                width: 100%;
            }
        }

        @include tablet {
            flex-flow: row nowrap;

            .hero_summary {
                width: 50%;
                padding-right: 1rem;
            }

            .hero_image {
                width: 50%;
                padding-left: 1rem;
                position: relative;
                box-sizing: border-box;
                right: 0;
                bottom: -5rem;
                margin-top: -5rem;
                margin-right: -1rem;
    
                img {
                    width: 100%;
                }
            }
        }
    }

    .focus {
        font-size: 1em;
        line-height: 0.5em;
        margin-bottom: 1rem;
        color: $on-primary;

        @include desktop {
            font-size: 1.25em;
        }

        span {
            font-size: 0.67em;
            margin: 0;
        }

        .loop {
            color: $secondary;
            white-space: nowrap;
        }
    }

    .tagline {
        margin-top: 4rem;
        font-size: 0.425em;
        font-weight: 400;
    }
}
