.our_story_section {
    background: $secondary-gradient;
}

.profile {
    display: flex;
    flex-flow: column nowrap;
    
    & + .profile {
        margin-top: 2rem;
    }

    .photo {
        margin: 0 auto 1rem;

        img {
            width: 15em;
            height: auto;
        }
    }

    h2 {
        margin-bottom: 0.25rem;
        display: flex;
        align-items: center;

        .linked-in {
            display: flex;
            fill: $primary;
            margin-left: 1rem;
        }
    }
    
    h3 {
        font-weight: 500;
    }

    @include tablet {
        flex-flow: row nowrap;

        .photo {
            flex-grow: 0;
            margin-right: 2rem;
        }

        & + .profile {
            margin-top: 1rem;
        }
    }
}
