.menu_button {
    svg {
        width: 3em;
        height: 3em;
        fill: inherit;
    }
}

.menu {
    position: fixed;
    height: 100vh;
    width: 100vw;
    background: #FFF;
    color: black;
    left: 0;
    top: 0;
    transform: translateX(100%);
    transition-duration: 0.2s;
    transition-property: transform;
    padding: 1rem 0;
    z-index: 200;

    &.--open {
        transform: translateX(0);
    }

    &__inner {
        text-align: center;
    }

    &__header {
        display: flex;
        align-items: center;
        flex-flow: row;
        justify-content: space-between;
    }

    &__list {
        padding: 2rem;
        font-size: 1.5em;    

        & * {
            color: inherit;
            text-decoration: none;
        }

        li {
            font-weight: 600;
            margin-bottom: 1rem;
        }
    }

    .menu_button {
        fill: $on-secondary !important;
    }
}
