@font-face {
    font-family: 'CeraPro';
    font-weight: 400;
    src: url('../src/assets/fonts/cera-pro/cerapro-regular-webfont.woff');
}

@font-face {
    font-family: 'CeraPro';
    font-weight: 500;
    src: url('../src/assets/fonts/cera-pro/cerapro-medium-webfont.woff');
}

@font-face {
    font-family: 'CeraPro';
    font-weight: 600;
    src: url('../src/assets/fonts/cera-pro/cerapro-bold-webfont.woff');
}

body {
    font-family: 'CeraPro';
    font-weight: 500;
    font-size: 18px;
}

.section {
    width: 100%;
    box-sizing: border-box;
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-flow: row nowrap;

    &.--fit-content {
        min-height: unset;
    }
}

.section,
.testimonial {
    padding: 1rem 0;

    @include tablet {
        padding: 2rem 0;
    }

    @include desktop {
        padding: 3rem 0;
    }
}

.section__inner,
.topnav,
.testimonial__inner,
.menu__inner {
    margin: 0 auto;
    box-sizing: border-box;
    width: 100%;
    padding: 0 1rem;

    @include tablet {
        padding: 0 2rem;
    }

    @include desktop {
        padding: 0 6rem;
    }
}

.section__inner,
.testimonial__inner {
    max-width: $max-width;
}

h1 {
    font-weight: 600;
    font-size: 3em;
}

.flexbox {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;

    @include desktop {
        flex-direction: row;
    }

    & > * {
        flex: 1;
        margin: 1rem 0;

        & > img {
            width: 100%;
        }

        &:first-child {
            margin: 0 0 1rem 0;
        }

        &:last-child {
            margin: 1rem 0 0 0;
        }

        @include desktop {
            margin: 0 1rem;

            &:first-child {
                margin: 0 1rem 0 0;
            }
    
            &:last-child {
                margin: 0 0 0 1rem;
            }
        }
    }
}
