@font-face {
    font-family: 'CeraProMedium';
    src: url('../src/assets/fonts/cera-pro/cerapro-bold-webfont.woff');
}

@font-face {
    font-family: 'CeraProBold';
    src: url('../src/assets/fonts/cera-pro/cerapro-bold-webfont.woff');
}

body {
    font-family: 'CeraProMedium';
}

.section {
    width: 100%;
    box-sizing: border-box;
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-flow: row nowrap;
    padding: 2rem 0;

    &.--fit-content {
        min-height: unset;
    }

    &__inner {
        // -- margin: 0 auto;
        padding: 0 6rem;
    }
}

.blend-layer {
    position: absolute;
    z-index: 2;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    pointer-events: none;
    clip: rect(auto, auto, auto, auto);
}

h1 {
    font-family: 'CeraProBold';
}