.footer {
    background: $primary-gradient;
    color: $on-primary;

    &__logo {
        height: 3rem;
        display: flex;
        align-items: center;

        img {
            height: 100%;
            margin-right: 1rem;
        }
    }

    &__inner {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
    }

    &__menu {
        text-align: right;

        * {
            text-decoration: none;
            color: inherit;
        }
    }

    .copyright {
        font-weight: 400;
    }

    @include tablet {
        &__menu {
            display: flex;
            text-align: left;
        }

        &__inner {
            justify-content: start;
        }

        &__inner,
        &__menu {
            align-items: center;

            & > * + * {
                margin-left: 1rem;
            }
        }
    }
}

.--maximize-footer {
    display: flex;
    flex-flow: column nowrap;
    min-height: 100vh;

    .footer {
        flex: 1;
    }
}