.hero_section {
    background: $primary-gradient;
    color: $on-primary;

    .section__inner {
        font-size: 3em;
    }

    .hero_container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 2rem;

        .hero_image {
            width: 100%;
        }
    }

    .focus {
        font-size: 1.75em;
        line-height: 8rem;

        &__header {
            font-size: 1.5em;
            margin-bottom: 0;
        }

        &__subheader {
            color: $secondary;
            line-height: 4rem;
        }
    }
}
