.hero_section {
    position: relative;
    color: $on-primary;
    overflow: hidden;

    .hero_image {
        min-height: 200vh;
        background-image: url('/src/assets/images/nicole-honeywill-YLUvemTiRtk-unsplash.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100%;
        background-attachment: fixed;
    }

    .section__inner {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}
