.hero_section {
    background: $primary-gradient;
    color: $on-primary;

    .section__inner {
        font-size: 3em;
    }

    .focus {
        font-size: 2em;
        line-height: 8rem;

        &__header {
            font-size: 1.5em;
            margin-bottom: 0;
        }

        &__subheader {
            color: $secondary;
        }
    }
}
