.our_story_section {
    background: $secondary-gradient;
}

.profile {
    display: flex;
    flex-flow: row nowrap;

    & > div:first-child {
        flex-grow: 0;

        img {
            width: 15em;
        }
    }
}